 1. Import libraries and dataframe
 2. Aggregate mean of order number column; group by department id
 3. Comment on the results compared to subset
 4. Pull in departments dataframe to identify department id's
 5. Create loyalty flag using transform and loc
 6. Check statistics of product prices by customer loyalty type
 7. Create a spending flag 
 8. Create order frequency flag

    1. Import libraries and dataframe

In [3]:
#Import libraries
import pandas as pd
import numpy as np
import os

In [4]:
# shortcut the main file to path
path = r'C:\Users\dodge\24-06-2023 Instacart Basket Analysis'

In [3]:
# import merged dataframe from pkl file
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))

In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

    2. Aggregate mean of order number column; group by department id

In [4]:
ords_prods_merge.groupby('department_id').agg({'order_number' : ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

     3. Comment on the results:  All the departments are now represented; the mean is lower in all categories except 17.  The departments were identified in exercise 4.4 which I think would be helpful to know.

     4. Pull in departments dataframe to identify department id's

In [5]:
# Import wrangled departments dataframe
df_depts = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'departments_wrangled.csv'), index_col=False)

In [6]:
df_depts

    Unnamed: 0       department
0            1           frozen
1            2            other
2            3           bakery
3            4          produce
4            5          alcohol
5            6    international
6            7        beverages
7            8             pets
8            9  dry goods pasta
9           10             bulk
10          11    personal care
11          12     meat seafood
12          13           pantry
13          14        breakfast
14          15     canned goods
15          16       dairy eggs
16          17        household
17          18           babies
18          19           snacks
19          20             deli
20          21          missing

This identifies category 17 as household that had an increased mean versus the subset.  The subset also implied a larger spread with a minimum of 11.294069 for household, but in the entire analysis much closer to the remaining values.  Our spread remains the same (about 7.5) from 11.29-19.46 in the subset to a a variation of 15.21-22.90 but the mean are all higher in value.

      5. Create loyalty flag using transform and loc

In [7]:
#Split the data into groups based on user id; apply transform on the order number column; create a new column
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [8]:
#Review the output
ords_prods_merge.head(20)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,Busiest_day,Busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Average_orders,10,New customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least_busy,Average_orders,10,New customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least_busy,Most_orders,10,New customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least_busy,Average_orders,10,New customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least_busy,Most_orders,10,New customer
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Average_orders,10,New customer
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Most_orders,10,New customer
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Most_orders,10,New customer
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Most_orders,10,New customer
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least_busy,Average_orders,10,New customer
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Most_orders,22,Regular customer
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Most_orders,22,Regular customer
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Most_orders,22,Regular customer
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Most_orders,22,Regular customer
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Most_orders,22,Regular customer
15,2293453,19,2,5,14,6.0,196,3,0,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Most_orders,9,New customer
16,1973799,19,5,6,12,8.0,196,15,1,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Most_orders,9,New customer
17,532817,19,7,4,17,6.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least_busy,Average_orders,9,New customer
18,1573906,21,10,3,10,6.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Least_busy,Most_orders,33,Regular customer
19,1593000,31,10,3,8,7.0,196,17,0,Soda,77,7,9.0,both,Mid-range product,Least_busy,Average_orders,20,Regular customer

In [9]:
#Allow all rows to be shown to validate aggregation
pd.options.display.max_rows = None

In [10]:
ords_prods_merge.head(100)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,Busiest_day,Busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Average_orders,10,New customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least_busy,Average_orders,10,New customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least_busy,Most_orders,10,New customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least_busy,Average_orders,10,New customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least_busy,Most_orders,10,New customer
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Average_orders,10,New customer
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Most_orders,10,New customer
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Most_orders,10,New customer
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Most_orders,10,New customer
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least_busy,Average_orders,10,New customer
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Most_orders,22,Regular customer
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Most_orders,22,Regular customer
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Most_orders,22,Regular customer
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Most_orders,22,Regular customer
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Most_orders,22,Regular customer
15,2293453,19,2,5,14,6.0,196,3,0,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Most_orders,9,New customer
16,1973799,19,5,6,12,8.0,196,15,1,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Most_orders,9,New customer
17,532817,19,7,4,17,6.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least_busy,Average_orders,9,New customer
18,1573906,21,10,3,10,6.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Least_busy,Most_orders,33,Regular customer
19,1593000,31,10,3,8,7.0,196,17,0,Soda,77,7,9.0,both,Mid-range product,Least_busy,Average_orders,20,Regular customer
20,2231262,31,17,3,11,8.0,196,14,1,Soda,77,7,9.0,both,Mid-range product,Least_busy,Most_orders,20,Regular customer
21,2580647,43,6,4,16,4.0,196,9,0,Soda,77,7,9.0,both,Mid-range product,Least_busy,Most_orders,11,Regular customer
22,2187180,43,9,4,12,3.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least_busy,Most_orders,11,Regular customer
23,2497897,52,1,1,9,NaN,196,4,0,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Most_orders,27,Regular customer
24,1318871,52,2,1,10,7.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Most_orders,27,Regular customer
25,1261384,52,3,1,10,7.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Most_orders,27,Regular customer
26,580568,52,5,2,10,8.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Most_orders,27,Regular customer
27,2428073,52,7,2,7,8.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Average_orders,27,Regular customer
28,342306,52,9,1,11,7.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Most_orders,27,Regular customer
29,1520353,52,10,2,10,8.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Most_orders,27,Regular customer
30,2542086,52,11,2,9,7.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Most_orders,27,Regular customer
31,944694,52,12,1,16,6.0,196,7,1,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Most_orders,27,Regular customer
32,1268191,52,15,2,11,8.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Most_orders,27,Regular customer
33,1122089,52,17,2,10,6.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Most_orders,27,Regular customer
34,1498922,52,18,2,10,14.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Most_orders,27,Regular customer
35,180919,52,19,3,8,8.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Least_busy,Average_orders,27,Regular customer
36,2695875,52,21,5,10,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Most_orders,27,Regular customer
37,3205960,67,1,3,11,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Least_busy,Most_orders,24,Regular customer
38,970922,67,2,1,15,5.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Most_orders,24,Regular customer
39,596585,67,3,1,13,7.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Most_orders,24,Regular customer
40,2037087,67,4,2,9,8.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Most_orders,24,Regular customer
41,2474111,67,5,3,14,8.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Least_busy,Most_orders,24,Regular customer
42,1568481,67,6,3,12,7.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Least_busy,Most_orders,24,Regular customer
43,2048527,67,8,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Most_orders,24,Regular customer
44,2389031,67,9,2,14,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Most_orders,24,Regular customer
45,2378562,67,10,1,10,6.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Most_orders,24,Regular customer
46,1515698,67,11,1,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Most_orders,24,Regular customer
47,1928050,67,12,2,12,8.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Most_orders,24,Regular customer
48,1949274,67,13,1,10,6.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Most_orders,24,Regular customer
49,551869,67,14,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Most_orders,24,Regular customer
50,768572,67,16,4,10,9.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least_busy,Most_orders,24,Regular customer
51,150528,67,18,5,16,4.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Most_orders,24,Regular customer
52,29758,67,19,0,14,9.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Most_orders,24,Regular customer
53,1558976,67,21,1,9,5.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Most_orders,24,Regular customer
54,863974,67,22,1,11,14.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Most_orders,24,Regular customer
55,2308399,67,23,1,14,14.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Most_orders,24,Regular customer
56,2759128,81,3,1,9,14.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Most_orders,7,New customer
57,1812985,81,5,2,20,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Average_orders,7,New customer
58,1889835,82,1,3,15,NaN,196,6,0,Soda,77,7,9.0,both,Mid-range product,Least_busy,Most_orders,19,Regular customer
59,499460,82,3,5,10,5.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Most_orders,19,Regular customer
60,2728456,82,4,0,11,16.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Most_orders,19,Regular customer
61,2653743,82,6,4,9,13.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Least_busy,Most_orders,19,Regular customer
62,1358880,82,9,1,10,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Most_orders,19,Regular customer
63,343588,82,10,2,11,1.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Most_orders,19,Regular customer
64,3034663,82,15,2,11,12.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Most_orders,19,Regular customer
65,147262,82,18,1,13,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Most_orders,19,Regular customer
66,3144004,82,19,2,15,8.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Most_orders,19,Regular customer
67,2126069,98,3,0,9,25.0,196,7,0,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Most_orders,14,Regular customer
68,2210120,98,7,5,14,5.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Most_orders,14,Regular customer
69,681011,98,9,3,9,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least_busy,Most_orders,14,Regular customer
70,2846344,98,11,4,13,15.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Least_busy,Most_orders,14,Regular customer
71,747431,98,12,6,13,30.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Most_orders,14,Regular customer
72,2383054,98,13,4,11,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least_busy,Most_orders,14,Regular customer
73,1993729,98,14,5,8,8.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Average_orders,14,Regular customer
74,1403849,109,3,3,17,9.0,196,5,0,Soda,77,7,9.0,both,Mid-range product,Least_busy,Average_orders,6,New customer
75,520620,120,1,3,11,NaN,196,2,0,Soda,77,7,9.0,both,Mid-range product,Least_busy,Most_orders,3,New customer
76,3273029,120,3,2,8,19.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Average_orders,3,New customer
77,1861943,185,2,1,12,25.0,196,10,0,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Most_orders,6,New customer
78,2040988,195,1,1,14,NaN,196,2,0,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Most_orders,58,loyal customer
79,1680569,195,8,1,9,4.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Most_orders,58,loyal customer
80,276171,195,19,5,11,3.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Most_orders,58,loyal customer
81,2744976,195,22,5,10,7.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Most_orders,58,loyal customer
82,2781919,195,25,1,14,4.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Most_orders,58,loyal customer
83,1738718,195,31,2,8,4.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Average_orders,58,loyal customer
84,3058369,195,34,3,10,6.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Least_busy,Most_orders,58,loyal customer
85,1485596,195,37,2,15,0.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Most_orders,58,loyal customer
86,417035,195,40,3,16,2.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Least_busy,Most_orders,58,loyal customer
87,1615297,195,47,5,10,2.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Most_orders,58,loyal customer
88,1765587,195,52,3,12,2.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Least_busy,Most_orders,58,loyal customer
89,745908,195,57,4,11,3.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Least_busy,Most_orders,58,loyal customer
90,2505656,222,17,2,12,1.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Most_orders,70,loyal customer
91,3268370,222,38,5,15,1.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Most_orders,70,loyal customer
92,2016711,290,9,5,19,6.0,196,8,0,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Average_orders,51,loyal customer
93,2706088,290,28,6,10,7.0,196,16,1,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Most_orders,51,loyal customer
94,1952286,331,6,5,16,30.0,196,8,0,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Most_orders,8,New customer
95,3226575,360,1,5,12,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Most_orders,3,New customer
96,1469869,377,3,5,17,3.0,196,9,0,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Average_orders,3,New customer
97,1927023,387,2,4,10,22.0,196,3,0,Soda,77,7,9.0,both,Mid-range product,Least_busy,Most_orders,8,New customer
98,858092,420,4,1,19,30.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Average_orders,22,Regular customer
99,119314,420,5,3,19,16.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Least_busy,Average_orders,22,Regular customer

In [11]:
#Set pre-determined flags
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'loyal customer'

In [12]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <=40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [13]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

    6. Check statistics of product prices by customer loyalty type

In [14]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [15]:
#Review the output
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(75)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43  Regular customer             6
22       43  Regular customer             9
23       52  Regular customer             1
24       52  Regular customer             2
25       52  Regular customer             3
26       52  Regular customer             5
27       52  Regular customer             7
28       52  Regular customer             9
29       52  Regular customer            10
30       52  Regular customer            11
31       52  Regular customer            12
32       52  Regular customer            15
33       52  Regular customer            17
34       52  Regular customer            18
35       52  Regular customer            19
36       52  Regular customer            21
37       67  Regular customer             1
38       67  Regular customer             2
39       67  Regular customer             3
40       67  Regular customer             4
41       67  Regular customer             5
42       67  Regular customer             6
43       67  Regular customer             8
44       67  Regular customer             9
45       67  Regular customer            10
46       67  Regular customer            11
47       67  Regular customer            12
48       67  Regular customer            13
49       67  Regular customer            14
50       67  Regular customer            16
51       67  Regular customer            18
52       67  Regular customer            19
53       67  Regular customer            21
54       67  Regular customer            22
55       67  Regular customer            23
56       81      New customer             3
57       81      New customer             5
58       82  Regular customer             1
59       82  Regular customer             3
60       82  Regular customer             4
61       82  Regular customer             6
62       82  Regular customer             9
63       82  Regular customer            10
64       82  Regular customer            15
65       82  Regular customer            18
66       82  Regular customer            19
67       98  Regular customer             3
68       98  Regular customer             7
69       98  Regular customer             9
70       98  Regular customer            11
71       98  Regular customer            12
72       98  Regular customer            13
73       98  Regular customer            14
74      109      New customer             3

The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

    7. Create a spending flag

In [16]:
#Group by prices
ords_prods_merge.groupby('prices')

In [17]:
#Assign the groupby to evaluate mean price by loyalty flag
ords_prods_merge.groupby('loyalty_flag').agg({'prices' : ['mean']})

                     prices
                       mean
loyalty_flag
New customer      13.294670
Regular customer  12.495717
loyal customer    10.386336

The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:
If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

    7. Create a spending flag

In [18]:
#Split the data into groups based on user id; apply transform on the order number column; create a new column
ords_prods_merge['ave_spend'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [19]:
#Check the output
ords_prods_merge.head(20)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,Busiest_day,Busiest_period_of_day,max_order,loyalty_flag,ave_spend
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Average_orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least_busy,Average_orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least_busy,Most_orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least_busy,Average_orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least_busy,Most_orders,10,New customer,6.367797
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Average_orders,10,New customer,6.367797
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Most_orders,10,New customer,6.367797
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Most_orders,10,New customer,6.367797
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Most_orders,10,New customer,6.367797
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least_busy,Average_orders,10,New customer,6.367797
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Most_orders,22,Regular customer,3.980556
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Most_orders,22,Regular customer,3.980556
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Most_orders,22,Regular customer,3.980556
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Most_orders,22,Regular customer,3.980556
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest_day,Most_orders,22,Regular customer,3.980556
15,2293453,19,2,5,14,6.0,196,3,0,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Most_orders,9,New customer,8.372059
16,1973799,19,5,6,12,8.0,196,15,1,Soda,77,7,9.0,both,Mid-range product,Regularly_busy,Most_orders,9,New customer,8.372059
17,532817,19,7,4,17,6.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least_busy,Average_orders,9,New customer,8.372059
18,1573906,21,10,3,10,6.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Least_busy,Most_orders,33,Regular customer,7.012683
19,1593000,31,10,3,8,7.0,196,17,0,Soda,77,7,9.0,both,Mid-range product,Least_busy,Average_orders,20,Regular customer,8.137793

In [20]:
#Create a flag for average spend
ords_prods_merge.loc[ords_prods_merge['ave_spend'] < 10, 'spending_flag'] = 'Low spender'

In [21]:
ords_prods_merge.loc[ords_prods_merge['ave_spend'] >= 10, 'spending_flag'] = 'High spender'

In [22]:
#Review Output
ords_prods_merge['spending_flag'].value_counts(dropna = False)

Low spender     31770614
High spender      634245
Name: spending_flag, dtype: int64

In [25]:
ords_prods_merge[['user_id', 'spending_flag', 'prices']].head(50)

    user_id spending_flag  prices
0         1   Low spender     9.0
1         1   Low spender     9.0
2         1   Low spender     9.0
3         1   Low spender     9.0
4         1   Low spender     9.0
5         1   Low spender     9.0
6         1   Low spender     9.0
7         1   Low spender     9.0
8         1   Low spender     9.0
9         1   Low spender     9.0
10       15   Low spender     9.0
11       15   Low spender     9.0
12       15   Low spender     9.0
13       15   Low spender     9.0
14       15   Low spender     9.0
15       19   Low spender     9.0
16       19   Low spender     9.0
17       19   Low spender     9.0
18       21   Low spender     9.0
19       31   Low spender     9.0
20       31   Low spender     9.0
21       43   Low spender     9.0
22       43   Low spender     9.0
23       52   Low spender     9.0
24       52   Low spender     9.0
25       52   Low spender     9.0
26       52   Low spender     9.0
27       52   Low spender     9.0
28       52   Low spender     9.0
29       52   Low spender     9.0
30       52   Low spender     9.0
31       52   Low spender     9.0
32       52   Low spender     9.0
33       52   Low spender     9.0
34       52   Low spender     9.0
35       52   Low spender     9.0
36       52   Low spender     9.0
37       67   Low spender     9.0
38       67   Low spender     9.0
39       67   Low spender     9.0
40       67   Low spender     9.0
41       67   Low spender     9.0
42       67   Low spender     9.0
43       67   Low spender     9.0
44       67   Low spender     9.0
45       67   Low spender     9.0
46       67   Low spender     9.0
47       67   Low spender     9.0
48       67   Low spender     9.0
49       67   Low spender     9.0

In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column.

    8. Create an order frequency flag

In [26]:
#Split the data into groups based on user id; apply transform on the days since prior order column; create a new column
ords_prods_merge['median_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [27]:
#Review the output
ords_prods_merge.head(40)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,prices,_merge,price_range_loc,Busiest_day,Busiest_period_of_day,max_order,loyalty_flag,ave_spend,spending_flag,median_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,9.0,both,Mid-range product,Regularly_busy,Average_orders,10,New customer,6.367797,Low spender,20.5
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,9.0,both,Mid-range product,Least_busy,Average_orders,10,New customer,6.367797,Low spender,20.5
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,9.0,both,Mid-range product,Least_busy,Most_orders,10,New customer,6.367797,Low spender,20.5
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,9.0,both,Mid-range product,Least_busy,Average_orders,10,New customer,6.367797,Low spender,20.5
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,9.0,both,Mid-range product,Least_busy,Most_orders,10,New customer,6.367797,Low spender,20.5
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,9.0,both,Mid-range product,Regularly_busy,Average_orders,10,New customer,6.367797,Low spender,20.5
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,9.0,both,Mid-range product,Busiest_day,Most_orders,10,New customer,6.367797,Low spender,20.5
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,9.0,both,Mid-range product,Busiest_day,Most_orders,10,New customer,6.367797,Low spender,20.5
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,9.0,both,Mid-range product,Busiest_day,Most_orders,10,New customer,6.367797,Low spender,20.5
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,9.0,both,Mid-range product,Least_busy,Average_orders,10,New customer,6.367797,Low spender,20.5
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,9.0,both,Mid-range product,Busiest_day,Most_orders,22,Regular customer,3.980556,Low spender,10.0
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,9.0,both,Mid-range product,Regularly_busy,Most_orders,22,Regular customer,3.980556,Low spender,10.0
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,9.0,both,Mid-range product,Regularly_busy,Most_orders,22,Regular customer,3.980556,Low spender,10.0
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,9.0,both,Mid-range product,Busiest_day,Most_orders,22,Regular customer,3.980556,Low spender,10.0
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,9.0,both,Mid-range product,Busiest_day,Most_orders,22,Regular customer,3.980556,Low spender,10.0
15,2293453,19,2,5,14,6.0,196,3,0,Soda,...,9.0,both,Mid-range product,Regularly_busy,Most_orders,9,New customer,8.372059,Low spender,6.0
16,1973799,19,5,6,12,8.0,196,15,1,Soda,...,9.0,both,Mid-range product,Regularly_busy,Most_orders,9,New customer,8.372059,Low spender,6.0
17,532817,19,7,4,17,6.0,196,1,1,Soda,...,9.0,both,Mid-range product,Least_busy,Average_orders,9,New customer,8.372059,Low spender,6.0
18,1573906,21,10,3,10,6.0,196,2,0,Soda,...,9.0,both,Mid-range product,Least_busy,Most_orders,33,Regular customer,7.012683,Low spender,7.5
19,1593000,31,10,3,8,7.0,196,17,0,Soda,...,9.0,both,Mid-range product,Least_busy,Average_orders,20,Regular customer,8.137793,Low spender,6.0
20,2231262,31,17,3,11,8.0,196,14,1,Soda,...,9.0,both,Mid-range product,Least_busy,Most_orders,20,Regular customer,8.137793,Low spender,6.0
21,2580647,43,6,4,16,4.0,196,9,0,Soda,...,9.0,both,Mid-range product,Least_busy,Most_orders,11,Regular customer,7.444898,Low spender,10.0
22,2187180,43,9,4,12,3.0,196,1,1,Soda,...,9.0,both,Mid-range product,Least_busy,Most_orders,11,Regular customer,7.444898,Low spender,10.0
23,2497897,52,1,1,9,NaN,196,4,0,Soda,...,9.0,both,Mid-range product,Busiest_day,Most_orders,27,Regular customer,6.356287,Low spender,8.0
24,1318871,52,2,1,10,7.0,196,5,1,Soda,...,9.0,both,Mid-range product,Busiest_day,Most_orders,27,Regular customer,6.356287,Low spender,8.0
25,1261384,52,3,1,10,7.0,196,3,1,Soda,...,9.0,both,Mid-range product,Busiest_day,Most_orders,27,Regular customer,6.356287,Low spender,8.0
26,580568,52,5,2,10,8.0,196,6,1,Soda,...,9.0,both,Mid-range product,Regularly_busy,Most_orders,27,Regular customer,6.356287,Low spender,8.0
27,2428073,52,7,2,7,8.0,196,5,1,Soda,...,9.0,both,Mid-range product,Regularly_busy,Average_orders,27,Regular customer,6.356287,Low spender,8.0
28,342306,52,9,1,11,7.0,196,5,1,Soda,...,9.0,both,Mid-range product,Busiest_day,Most_orders,27,Regular customer,6.356287,Low spender,8.0
29,1520353,52,10,2,10,8.0,196,4,1,Soda,...,9.0,both,Mid-range product,Regularly_busy,Most_orders,27,Regular customer,6.356287,Low spender,8.0
30,2542086,52,11,2,9,7.0,196,3,1,Soda,...,9.0,both,Mid-range product,Regularly_busy,Most_orders,27,Regular customer,6.356287,Low spender,8.0
31,944694,52,12,1,16,6.0,196,7,1,Soda,...,9.0,both,Mid-range product,Busiest_day,Most_orders,27,Regular customer,6.356287,Low spender,8.0
32,1268191,52,15,2,11,8.0,196,3,1,Soda,...,9.0,both,Mid-range product,Regularly_busy,Most_orders,27,Regular customer,6.356287,Low spender,8.0
33,1122089,52,17,2,10,6.0,196,4,1,Soda,...,9.0,both,Mid-range product,Regularly_busy,Most_orders,27,Regular customer,6.356287,Low spender,8.0
34,1498922,52,18,2,10,14.0,196,6,1,Soda,...,9.0,both,Mid-range product,Regularly_busy,Most_orders,27,Regular customer,6.356287,Low spender,8.0
35,180919,52,19,3,8,8.0,196,4,1,Soda,...,9.0,both,Mid-range product,Least_busy,Average_orders,27,Regular customer,6.356287,Low spender,8.0
36,2695875,52,21,5,10,30.0,196,1,1,Soda,...,9.0,both,Mid-range product,Regularly_busy,Most_orders,27,Regular customer,6.356287,Low spender,8.0
37,3205960,67,1,3,11,NaN,196,1,0,Soda,...,9.0,both,Mid-range product,Least_busy,Most_orders,24,Regular customer,7.656790,Low spender,7.0
38,970922,67,2,1,15,5.0,196,2,1,Soda,...,9.0,both,Mid-range product,Busiest_day,Most_orders,24,Regular customer,7.656790,Low spender,7.0
39,596585,67,3,1,13,7.0,196,2,1,Soda,...,9.0,both,Mid-range product,Busiest_day,Most_orders,24,Regular customer,7.656790,Low spender,7.0

The criteria for the flag should be as follows:
If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [28]:
#Create a flag for order frequency label
ords_prods_merge.loc[ords_prods_merge['median_order'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [29]:
ords_prods_merge.loc[(ords_prods_merge['median_order'] <=20) & (ords_prods_merge['median_order'] > 10), 'frequency_flag'] = 'Regular customer'

In [30]:
ords_prods_merge.loc[ords_prods_merge['median_order'] < 10, 'frequency_flag'] = 'Frequent customer'

In [31]:
#Check the frequency
ords_prods_merge['frequency_flag'].value_counts(dropna=False)

Frequent customer        20287988
Regular customer          7208564
Non-frequent customer     3636437
NaN                       1271870
Name: frequency_flag, dtype: int64

In [32]:
#Missing the equal sign in frequent customer
ords_prods_merge.loc[ords_prods_merge['median_order'] <= 10, 'frequency_flag'] = 'frequent customer'

In [33]:
#recheck the frequency
ords_prods_merge['frequency_flag'].value_counts(dropna=False)

frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: frequency_flag, dtype: int64

In [34]:
#save file to pickle
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_flagged.pkl'))

In [35]:
#Check the prices output
ords_prods_merge['prices'].max()

99999.0

In [36]:
#Reset max price
ords_prods_merge.loc[ords_prods_merge['prices'] >100, 'prices'] = np.nan

In [38]:
ords_prods_merge['prices'].max()

25.0

In [39]:
#save file to pickle
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_flagged.pkl'))

In [5]:
#Import file and validate shape
df = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_adds.pkl'))

In [6]:
df.shape

(32404859, 17)